page-home {
  ion-content {
    .container {
      .hide-balance {
        visibility: hidden;
      }

      .left-box {
        background: blue;
        padding: 10px;

        h1 {
          color: white;
        }
      }

      .balance-box {
        .balance-section {

        }
      }

      .top-box {
        width: 600px;

        .value-list {
          flex-wrap: wrap;
          background: blue;

          button {
            background: white;
            color: black;
          }
        }
      }

      .bottom-box {
        width: 600px;
      }
    }
  }
}
